/* Manage-post Christoffer */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #7ed3fc;
}
hr {
  width: 58%;
  height: 1px;
  background-color: white;
}
.container-manage-post {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.manage-post-link {
  align-self: center;
  margin-left: 45%;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0.3rem;
  border: 3px solid black;
  border-radius: 1rem;
  /* background-color: rgba(226, 247, 36, 0.973); */
  background-color: white;
  color: rgb(23, 28, 32);
}
.container-manage-post h1 {
  align-self: center;
}

.delete-post,
.update {
  margin-left: 4%;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.2rem;
  border: 3px solid black;
  border-radius: 1rem;
  background-color: green;
  color: rgb(23, 28, 32);
}
.delete-post {
  background-color: red;
}

#table {
  border: 1px solid black;
}
th {
  background-color: black;
  color: white;
}

tr,
th,
td {
  border: 1px solid black;
  width: 21rem;
  height: 5.5rem;
  font-size: 1.4rem;
  text-decoration: none;
}

tbody {
  background-color: aliceblue;
}
.container-manage-post-table {
  place-self: center;
}
